<!DOCTYPE html>
<html>
<head>
  <title>API - User Details</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../styles/style.css">
 </head>

<body>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="/" id="create">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/searchJobs/<%=user%>" id="create">Search Jobs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/searchPrograms/<%=user%>" id="create">Search Programs</a>
    </li>
    <li class="nav-item">
      <a class= <% if(user==null){ %>"nav-link disabled"<% } %> <% else{ %>"nav-link active"<% } %> href="/mysaved/<%=user%>" id="create">MySaved</a>
    </li>
    <% if(user!=null){ %>
      <div class="alert alert-warning" role="alert">Log In to Access Your Saved Info</div>
    <%}%>
  </ul>

  <div id="feedback" class = "<%if (user==null || feedback["failure"]==10 || feedback["failure"]==42){%> negative <%}%>">
    <%if (feedback["failure"]==10){%>That username is taken. Please choose a different one.<%} else if (feedback["failure"]==42){%> You did not enter valid text for one or more of the fields. <%} else if (user==null) {%>Please enter your information to create an account <%}%>
  </div>
  <div id="enter_name">
    <form action="<%if(user==null){%>/users<%}else{%>/user/<%=user.name%>?_method=PUT<%}%>" method="post">
      Username: <input type="text" id="enter_username" name="name" value = "<%if (user!=null){%><%=user.name%><%} else {%><%}%>"><br>
      PSWD: <input type="text" id="enter_psw" name="pswd" value = "<%if (user!=null){%><%=user.pswd%><%}%>"><br>
      <br>
      <button type="submit" id = "enter_name_button"><%if(user==null){%>Create Account<%}else{%>Modify Account<%}%></button>
    </form>
    <% if (user!=null) {%>
    <form action="/user/<%=user.name%>?_method=DELETE" method="post">
       <input type="submit" value="Delete User">
    </form>
    <%}%>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 </body>
</html>
